body {
  background-color: rgb(237, 237, 234);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  padding-inline: 15px;
}

.wrapper>*:not(:last-child) {
  margin-bottom: 1.875rem;
  /* 30/16 */
}

main {
  flex-grow: 1;
}