:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cnt {
  max-width: 1000px;
}

.box {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px;
}

.box:not(:last-child) {
  margin-bottom: 50px;
}

.box:hover {
  box-shadow: 0 0 15px #2de2fa;
}

.box__header {
  font-size: 24px;
  color: #fbcd8e;
  margin-bottom: 30px;
}

.box__body {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  min-height: 200px;
  justify-content: center;
}

.box__column {
  min-width: 350px;
  flex-shrink: 1;
  border: 1px solid #fbcd8e;
  border-radius: 10px;
  aspect-ratio: 1 / 0.85;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.box__column-big {
  aspect-ratio: 300 / 400;
}

.box__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.box__lists {
  display: flex;
}

.box__list {
  font-size: 20px;
}

.box__list>*:not(:last-child) {
  margin-bottom: 15px;
}

.box__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}



.box__button:hover {
  box-shadow: 0 0 5px #fff;
}

.box__button:active {
  transform: scale(0.95);
}

.box__start {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 30px;
}

.box__button {
  transition: box-shadow 0.3s, transform 0.3s;
  will-change: transform;
  background-color: darkgreen;
  font-size: 20px;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 24px;
}

input {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
  transition: box-shadow 0.3s;
}

input:hover {
  box-shadow: 0 0 10px #fff;
}

.box__label {
  flex-direction: column;
}

.box__input {
  max-width: 150px;
  min-height: 150px;
  font-size: 70px;
  text-align: center;
}

.box__warning {
  font-size: 24px;
  color: red;
}